<div class="tut">
    <div class="tut-head">
        <h2>Standalone Components</h2>
        <hr />
    </div>
    <div class="tut-description">
        <h3>What we can create as Standalone in Angular?</h3>
        <ul>
            <li>Components</li>
            <li>Pipes</li>
            <li>Directives</li>
        </ul>
        <h3>Angular CLI commands to create the Standalone?</h3>
        <ul>
            <li>ng g pipe pipeName --standalone</li>
            <li>ng g directive directiveName --standalone</li>
            <li>ng g component componentName --standalone</li>
        </ul>
        <h3>Use Standalone Components with?</h3>
        <ul>
            <li>Module-based components</li>
            <li>Other standalone components</li>
            <li>Loading routes</li>
            <li>Lazy loading</li>
        </ul>
    </div>
    <div class="routes">
        <hr/>
        <router-outlet></router-outlet>
    </div>
</div>