@import "../../../theme/scss/variables";
@import "../../../theme/scss/button";

.user-card {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  width: 50%;
  .text-center {
    text-align: center;
  }
  .card-body {
    .card-title {
      font-family: $font-family;
      font-size: 18px;
      margin: 3px 0;
      color: $text-color;
    }
    .card-subtitle {
      font-family: $font-family;
      font-size: 13px;
      margin: 3px 0;
      color: $text-color;
    }
  }
}
