<div class="dynamic">
    <div class="dynamic-head">
        <h2>Dynamic Components Loading</h2>
        <p>This is the feature with which you can handle multiple cases easily and achieve DRY.</p>
        <hr />
    </div>
    <div class="use-cases">
        <h3>How to find usecae?</h3>
        <p>
            This is just a theory I have. To make usecase of Dynamic Component loading you can check if you need to show multiple templates according to API data or some logics, then you can create components for that and handle with the help of Dynamic Component Loading.
        </p>
    </div>
    <div class="dynamic-container">
        <h3>Advertisement Example</h3>
        <ng-template appDynamicHost></ng-template>
    </div>
</div>