@import "../../../theme/scss/variables";

.job-ad {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  width: 50%;
  h4 {
    font-family: $font-family;
    font-size: 22px;
    margin: 8px 0;
    color: $text-color;
  }

  p {
    font-family: $font-family;
    font-size: 13px;
    margin: 2px 0;
    color: $text-color;
  }
}
