<div class="guidelines-intro">
    <p>These guidelines you can get from your UX Designer when they complete the project designs. These guidelines
        important to have in project because from here we can define different CSS for every HTML Element. Alongwith
        these also provide different image sizes of logo's and cards.</p>
    <p>Things you have to get from these guidelines are:</p>
</div>

<div class="button-guidelines">
    <div class="buttons-group">
        <h6 class="button-sub-head">Button:</h6>

        <button class="primary" title="Primary">Click Me!</button>
        <button class="success" title="Success">Click Me!</button>
        <button class="danger" title="Danger">Click Me!</button>
        <button class="warning" title="Warning">Click Me!</button>
        <button class="info" title="Info">Click Me!</button>
        <button class="primary" title="Primary Disabled" disabled>Click Me!</button>
        <button class="success" title="Success Disabled" disabled>Click Me!</button>
        <button class="danger" title="Danger Disabled" disabled>Click Me!</button>
        <button class="warning" title="Warning Disabled" disabled>Click Me!</button>
        <button class="info" title="Info Disabled" disabled>Click Me!</button>
    </div>
    <div class="buttons-group">
        <h6 class="button-sub-head">Outline Button:</h6>

        <button class="primary-outline" title="Primary Outline">Click Me!</button>
        <button class="success-outline" title="Success Outline">Click Me!</button>
        <button class="danger-outline" title="Danger Outline">Click Me!</button>
        <button class="warning-outline" title="Warning Outline">Click Me!</button>
        <button class="info-outline" title="Info Outline">Click Me!</button>
        <button class="primary-outline" title="Primary Outline Disabled" disabled>Click Me!</button>
        <button class="success-outline" title="Success Outline Disabled" disabled>Click Me!</button>
        <button class="danger-outline" title="Danger Outline Disabled" disabled>Click Me!</button>
        <button class="warning-outline" title="Warning Outline Disabled" disabled>Click Me!</button>
        <button class="info-outline" title="Info Outline Disabled" disabled>Click Me!</button>
    </div>
    <div class="buttons-group">
        <h6 class="button-sub-head">Button Size:</h6>

        <button class="primary-outline small" title="Primary Small">Click Me!</button>
        <button class="primary-outline medium" title="Primary Medium">Click Me!</button>
        <button class="primary-outline large" title="Primary Large">Click Me!</button>
    </div>
</div>
<hr />
<div class="anchor-guidelines">
    <h6 class="anchor-sub-head">Anchor Tag:</h6>
    <a class="anchor">Click Me!</a>
</div>
<hr />
<div class="input-guidelines">
    <h6 class="input-sub-head">Input:</h6>
    <div class="inputs">
        <input [(ngModel)]="controlOne" class="flexMargin" type="text" placeholder="Enter here" />
        <input [(ngModel)]="controlOne" class="valid flexMargin" type="text" placeholder="Enter here" />
        <input [(ngModel)]="controlOne" class="invalid flexMargin" type="text" placeholder="Enter here" />
        <select [(ngModel)]="controlOne" class="flexMargin">
            <option value="" selected disabled>Select Option</option>
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select>
        <select [(ngModel)]="controlOne" class="valid flexMargin">
            <option value="" selected disabled>Select Option</option>
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select>
        <select [(ngModel)]="controlOne" class="invalid flexMargin">
            <option value="" selected disabled>Select Option</option>
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select>
        <textarea [(ngModel)]="controlOne" class="flexMargin" placeholder="Enter here"></textarea>
        <textarea [(ngModel)]="controlOne" class="valid flexMargin" placeholder="Enter here"></textarea>
        <textarea [(ngModel)]="controlOne" class="invalid flexMargin" placeholder="Enter here"></textarea>
    </div>
</div>
<hr />
<div class="table-guidelines">
    <h6 class="table-sub-head">Table:</h6>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="anchor">1</span>
                    </td>
                    <td>User 1</td>
                    <td>+91 9333333232</td>
                </tr>
                <tr>
                    <td>
                        <span class="anchor">2</span>
                    </td>
                    <td>User 2</td>
                    <td>+91 9333333232</td>
                </tr>
                <tr>
                    <td>
                        <span class="anchor">3</span>
                    </td>
                    <td>User 3</td>
                    <td>+91 9333333232</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colSpan="3">Table Footer</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="guidelines-intro">
   <p>These just are the basic ones. There will be more according to project. Now from these guidelines you have to create individual theme for each element. Like I have created in theme folder for button, anchor, table, accordian, inputs etc.</p>
</div>