@import "./scss/variables";
@import "./scss/accordian";

.theme-component {
  background-color: $body-color;
  padding: 15px;
  .theme-head {
    h2 {
      font-family: $font-family;
      font-size: 22px;
      text-align: center;
      margin: 8px 0;
      color: $text-color;
    }
    p {
      font-family: $font-family;
      font-size: 14px;
      text-align: center;
      margin: 0 0 4px;
      color: $text-color;
    }
  }
  .change-theme {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $font-family;
      font-size: 14px;
      color: $text-color;
  }
  .theme-requirement {
    h2 {
      font-size: 20px;
      font-family: $font-family;
      color: $text-color;
      margin: 8px 0;
    }
  }
  .theme-management {
    h2 {
      font-size: 20px;
      font-family: $font-family;
      color: $text-color;
      margin: 8px 0;
    }
  }
  .variables-intro, .from-scratch, .fromCustomize {
    p {
      font-size: 14px;
      font-family: $font-family;
      color: $text-color;
      margin: 4px 0;
    }
  }
  .note {
    font-size: 14px;
    font-family: $font-family;
    color: $text-color;
    font-style: italic;
    font-weight: 600;
    margin: 8px 0;
  }
}