@import "../theme/scss/variables";

.shadow-dom {
  padding: 10px;
  h2 {
    font-family: $font-family;
    margin: 8px 0;
    text-align: center;
    border-bottom: 1px solid $body-color;
    padding-bottom: 10px;
  }
  .heading-example {
    margin: 5px 0;
    h4 {
      font-family: $font-family;
      margin: 5px 0;
    }
    p {
      font-family: $font-family;
      margin: 5px 0;
      color: red;
    }
  }
  .count-example {
    margin: 25px 0 5px;
    h4 {
      font-family: $font-family;
      margin: 5px 0;
    }
    article {
      font-family: $font-family;
      padding: 5px;
    }
  }
}
